$primary-color: #ec2c7a;
$divider-color: #e2e2e2;

$white: #ffffff;

$bg-color: #f6f6f8;
$bg-dark-color: #eaf0f8;

$text-color: #777681;
$text-secondary-color: #b0b0bb;

$disable-color: #dadada;
$disable-text-color: #eaebed;

@mixin body {
  font-family: "Helvetica Neue", serif;
  color: $text-color;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

@mixin flex($flex: flex, $direction: column,$align-items: center, $justify-content: center) {
  display: $flex;
  flex-flow: $direction nowrap;
  align-items: $align-items;
  justify-content: $justify-content;
}
