/**
  Colors
 */

// Main Color
$m1: #ec2c7a;

// Font Color
$t1: #2c2c30;
$t2: #777681;
$t3: #b0b0bb;
$t4: #d4d4d4;
$t5: #ffffff;

// Background Color
$bg1: #f6f6f8;
$bg2: #f1fbff;

// Dividing Line Color
$dl1: #e2e2e2;

// Icon Color
$ic1: #abadbb;
$ic2: #ffffff;

// Mark Color
$bm1: rgba(0, 0, 0, .5);

// Tapping Color
$cl1: #eeeeee;
$cl2: #c20059;

// Other frequently used color
$disable-color: #dadada;
$disable-text-color: #eaebed;

$white: #ffffff;
$blue: #1488fe;

/**
  Typography
 */

// Title
@mixin h_1() {
  @include font(20px, bold, $t1);
}

@mixin h_2() {
  @include font(17px, bold, $t1);
}

@mixin h_3() {
  @include font(16px, bold, $t1);
}

@mixin h_4() {
  @include font(14px, bold, $t1);
}

@mixin h_5() {
  @include font(12px, bold, $t1);
}

@mixin h_6() {
  @include font(9px, bold, $t2);
}

// Content
@mixin body_1() {
  @include font(16px, regular, $t2)
}

@mixin body_2() {
  @include font(14px, regular, $t2)
}

@mixin body_3() {
  @include font(12px, regular, $t2)
}

@mixin body_4() {
  @include font(10px, regular, $t2)
}

// Button
$btn_1: 17px;
$btn_2: 15px;
$btn_3: 14px;
$btn_4: 13px;

/**
  Mixin
 */
@mixin body {
  font-family: "Helvetica Neue", serif;
  color: $t2;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;

  div, section {
    box-sizing: border-box;
  }

  blockquote {
    margin: 4px 0;
    padding: 6px 10px;
    border-left: 5px solid $m1;
    font-size: 16px;
  }
}

@mixin flex($flex: flex, $direction: column,$align-items: center, $justify-content: center) {
  display: $flex;
  flex-flow: $direction nowrap;
  align-items: $align-items;
  justify-content: $justify-content;
}

@mixin boxShadow() {
  box-shadow: 0 4px 10px 0 #aaaaaa;
}

@mixin darkBg() {
  background-color: $bg2;
}

@mixin font($size: 14px, $weight: regular, $color: $t2) {
  font-size: $size;
  font-weight: $weight;
  color: $color;
}

@mixin disableUserEvents() {
  user-select: none;
  -webkit-user-select: none;
  -webkit-user-drag: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

@mixin list-item() {
  @include disableUserEvents;
  border-top: .5px solid $dl1;
  padding: 0 15px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  transition: backgroundColor .2s;

  &:active {
    background-color: $cl1;
  }
}
